<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>吴洲桐</title>
    <style>
        body
        {
            background-image: url("static/wuzhoutong/green.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div style="text-align:center">
        <h1 style="color:#1E90FF">网站制作人WZT介绍</h1>
        <h2 style="color:#FFD700">少年硅谷一等奖获得者</h2>
        <h2 style="color:#FFD700">Python等级考试通过3级</h2>
        <br></br>
        <h2 style="color:#FFD700">第十三届蓝桥杯STEMA三等奖</h2>
        <h2 style="color:#FFD700">第十三届蓝桥杯省赛一等奖</h2>
        <h2 style="color:#FFD700">第十三届蓝桥杯国赛一等奖</h2>
        <br></br>
        <h3 style="color:#A52A2A">一枚资深哈迷,喜欢哈利波特、哈利波特原著系列、被诅咒的孩子、霍格沃茨图书馆以及神奇动物在哪里</h3>
        <h3>LOFTER 哈学满级学者</h3>
        <img style="width:600px;height:1100px" src="static/wuzhoutong/哈学学者.jpg" alt="哈学满级学者">
        <h3 style="color:#4B0082">哈利波特魔法觉醒荣誉决斗大师</h3>
        <img style="width:600px;heigth:500px" src="static/wuzhoutong/hpmajd.jpg" alt="荣誉决斗大师">
        <h3 style="color:#FF8C00">守护神是一只北极熊</h3>
        <h3 style="color:#FF8C00">Expecto Patronum!</h3>
        <img src="static/wuzhoutong/守护神.jpg" alt="北极熊">
        <h3 style="color:#40e0d0">最喜欢的颜色是青绿色</h3>
    </div>
</body>
</html>
