<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你的问卷</title>
</head>
<body>
    <div style="text-align:center">
        <form action="/hello">

    <!--创建文本框（使用input元素），用户在该文本框输入"姓名"-->
        姓名：<input type="text" name="nickname">
            <!--创建文本框（使用input元素），用户在该文本框输入"年龄"-->
        年龄：<input type="text" name="age">
            <br>
            <input type="radio" name="gender" value="male">男生
            <input type="radio" name="gender" value="female">女生
            <br>
            <textarea name="intro" cols="30" rows="10">快来介绍自己</textarea>
            <!--创建提交按钮（使用input元素），用户点击该提交按钮进行"上传"-->
            <input type="submit" value="上传">
        </form>
    </div>

</body>
</html>