<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作品下载</title>
    <style>
        .downloads
        {
            height: 50%;
            width: 50%;
        }
    </style>
</head>
<body>
<div>
    <div id="snggin">
        <h3 class="downloads">点击图片即可下载 吴洲桐的人工智能世界</h3>
        <a href="static/Joton/吴洲桐的人工智能世界.zip" download="吴洲桐的人工智能世界.zip">
            <img class="downloads" src="static/Joton/吴洲桐的人工智能世界.png" alt="吴洲桐的人工智能世界">
        </a>
    </div>
    <div id="word">
        <h3 class="downloads">点击图片即可下载 背单词</h3>
        <a href="static/Joton/背单词.zip" download="背单词.zip">
            <img class="downloads" src="static/Joton/word.png" alt="背单词">
        </a>
    </div>
    <div id="face">
        <h3 class="downloads">点击图片即可下载 换脸</h3>
        <a href="static/Joton/换脸.zip" download="换脸.zip">
            <img class="downloads" src="static/Joton/face.png" alt="换脸">
        </a>
    </div>
    <div id="search">
        <h3 class="downloads">点击图片即可下载 Joton's Search</h3>
        <a href="static/Joton/Joton's Search.py" download="搜索引擎.py">
            <img class="downloads" src="static/Joton/sousuo.png" alt="搜索引擎">
        </a>
    </div>
    <div id="bingderder">
        <h3 class="downloads">点击图片即可下载 Python冰墩墩</h3>
        <a href="static/Joton/Bing Dwen Dwen.py" download="冰墩墩.py">
            <img class="downloads" src="static/Joton/bingderder.png" alt="冰墩墩">
        </a>
    </div>
    <div id="qrcode">
        <h3 class="downloads">点击图片即可下载 Python冰墩墩</h3>
        <a href="static/Joton/解码器.py" download="解码器.py">
            <img class="downloads" src="static/Joton/qrcode.jpg" alt="qrcode">
        </a>
    </div>
</div>
</body>
</html>