<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>主页</title>
    <link rel="stylesheet" href="./static/main/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/main/css/common.css">
    <link rel="stylesheet" href="./static/main/css/main.css">
</head>
<body>
<div class="mask"></div>
<div class="box">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header col-md-8 col-lg-8">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand pl" href="javascript:;">
                        <a href="/" class="goBack" style="color:white">
                            <img src="/static/main/images/back.png">
                            <span class="goBackIndex">返回欢迎页面</span>
                        </a>
                        <img class="hidden-md hidden-lg pull-left" height="60" src="./static/main/images/avatar.png"
                             alt="">
                        <div class="pull-left  mynav_leftuser pl">
                            <!--<span></span>-->
                            <div class="mynav_user">
                                <img class="hidden-sm hidden-xs vm" height="60" src="./static/main/images/avatar.png">
                                <span class="welcomtitle">欢迎使用WZTAKIOI的工具箱</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse mobiologinangregist" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            
                                <a class="loginBtn" href="templates/user/login/login.html">登录</a>/
                                <a class="registBtn" href="templates/user/register/resister.html">注册</a>
                            

                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="mainContiner container-fluid">
        <div class="boxzr row">
            <div class="mainTitle col-xs-12">关于作者</div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="templates/wuzhoutong/wuzhoutong.html">作者介绍</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href="templates/Joton/Joton.html">作品下载</a></div>
        </div>
        <div class="boxone row">
            <div class="mainTitle col-xs-12">L3项目</div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/trans/index.html">在线翻译</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/todo/todo_list.html">任务本</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/album/album_list.html">猿相册</a></div>
        </div>
        <div class="boxtwo row" class="manypeopleplay">
            <div class="mainTitle maintitleTwo col-xs-12">L4项目</div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/monkey/index.html">宇宙小猿</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/calorie/index.html">卡路里大挑战</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/typing/index.html">打字小游戏</a></div>
        </div>
        <div class="boxthree row" class="spyder">
            <div class="mainTitle maintitleTwo col-xs-12">L5项目</div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/news_l5/science/">猿猿新闻网</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/music_l5/music_first_page/">猿猿音乐网</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/booklist/1">猿猿阅读网</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/ybc_video_l5/">猿猿视频网</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/peace/">L5精英武器</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/honor/">L5荣耀英雄</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/story/story.html">我的读书笔记</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/comment/comment.html">《猿来刚刚好》词云图</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/chart/chart.html">《猿来刚刚好》数据总览</a></div>
        </div>
        <div class="boxthree row" class="app">
            <div class="mainTitle maintitleTwo col-xs-12">L6项目</div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://ybc-online.fbcontent.cn/studentAppFile/216880846_1648216372553.apk">智能壮猿</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://ybc-online.fbcontent.cn/studentAppFile/214840438_1637311306905.apk">智能小壮猿</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://ybc-online.fbcontent.cn/studentAppFile/216880846_1648248076735.apk">Joton's APP</a></div>
        </div>
        <div class="boxfour row" class="others">
            <div class="mainTitle maintitleThree col-xs-12">其他项目</div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="templates/manual/manual_base.html">PyCharm使用手册</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/l4flask/music">音乐达人</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/l4flask/date">星座查询器</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/l4flask/diary">电子日记</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://show.ybccode.com/l4flask/contact">同学录</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.teaching.com/">有趣的东西</a></div>
        </div>
        <div class="boxfive row" class="manypeopleplay">
            <div class="mainTitle maintitleTwo col-xs-12">打字专区</div>
            <div class="shape2 col-xs-12 col-sm-12 col-md-6 col-lg-6"><a href="https://www.typing.com/">指法练习</a></div>
            <div class="shape2 col-xs-12 col-sm-12 col-md-6 col-lg-6"><a href="https://www.nitrotype.com/">打字竞速</a></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="harry potter" class="magic">
            <div class="shape2 col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href="templates/harry/harry.html">👉哈迷专区入口👈</a></div>
        </div>
    </div>
</div>
<script src="./static/main/js/jquery-3.3.1.min.js"></script>
<script src="./static/main/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
