<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>哈迷专区</title>
    <link rel="stylesheet" href="./static/main/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/main/css/common.css">
    <link rel="stylesheet" href="./static/main/css/main.css">
</head>
<body>
<div class="mask"></div>
<div class="box">
    <!--<embed src="static/harry/video/hedwig.mp4" height=575 width=1263 autostart=true loop=true>-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header col-md-8 col-lg-8">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand pl" href="javascript:;">
                        <a href="/main" class="goBack">
                            <img src="/static/main/images/back.png">
                            <span class="goBackIndex">返回主页(需要用荧光闪烁点亮 Lumos)</span>
                        </a>
                        <img class="hidden-md hidden-lg pull-left" height="60" src="./static/main/images/avatar.png"
                             alt="">
                        <div class="pull-left  mynav_leftuser pl">
                            <!--<span></span>-->
                            <div class="mynav_user">
                                <img class="hidden-sm hidden-xs vm" height="60" src="./static/main/images/avatar.png">
                                <span class="welcomtitle">欢迎来到霍格沃茨{{t_username}}，<a href="https://www.bilibili.com/video/BV1ef4y1B76R">点击这里即可分院</a>，我是🐍斯莱特林🐍的级长：吴洲桐</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <audio id="bgm" src="static/harry/audio/HPMAbgm.mp3" autoplay="autoplay" loop></audio>
    <div class="mainContiner container-fluid">
        <div class="boxharry row" class="Harry potter">
            <div class="mainTitle maintitleharrycol-xs-12">哈迷专区</div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.pottermore.com">PotterMore 魔法世界</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.wizardingworld.com/">Wizarding World 魔法世界</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.startingharrypotter.com/">Starting HarryPotter 哈利波特中心</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.portkeygames.com/">Portkey Games门钥匙游戏</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pixelkin.org/tag/portkey-games/">哈利波特游戏-pixelkin公司</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.imdb.com/search/title/?companies=co0820877">哈利波特游戏预告片</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="magicawakened">哈利波特：魔法觉醒</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.zynga.com/games/harry-potter-puzzles-and-spells/">哈利波特：拼图与咒语</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypotterwizardsunite.com/">哈利波特：巫师联盟</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypotterhogwartsmystery.com/">霍格沃茨之谜</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://hogwartsmystery.io/">霍格沃茨之谜 粉丝</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.ea.com/games/harry-potter/">EA 哈利波特游戏</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.hogwartslegacy.com/en-us">霍格沃茨遗产</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.taptap.com/app/71479">哈利波特：霍格沃茨的秘密(TapTap)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.taptap.com/review/17360151">哈利波特：魔法觉醒(TapTap)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.taptap.com/app/67859">哈利波特：巫师联盟(TapTap)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.neteasegames.com/">NetEase Games(网易游戏)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://warnerbrosgames.com/">Warner Bros. Games(华纳兄弟游戏)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.envoygames.com.tw/">Envoy Games(恩奕遊戲)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/search?q=Harry+Potter&c=apps&hl=zh-CN">play商店 哈利波特APP</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/search?q=Harry+Potter&c=movies&hl=zh-CN">play商店 哈利波特电影</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/search?q=Harry+Potter&c=books&hl=zh-CN">play商店 哈利波特书籍</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.wwdfe.goog.wizardingworld">play商店 Harry Potter Fan Club</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.netease.harrypotter.tw">play商店 哈利波特：魔法觉醒</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.netease.wb.goog.hpma">play商店 哈利波特：魔法觉醒(全球)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.tinyco.potter">play商店 霍格沃茨之谜</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.zynga.pottermatch">play商店 谜与魔咒</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.nianticlabs.hpwu.prod">play商店 哈利波特：巫师联盟</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.kano.app">play商店 Harry Potter Coding Kano</a>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://apps.apple.com/us/app/%E5%93%88%E5%88%A9%E6%B3%A2%E7%89%B9-%E9%AD%94%E6%B3%95%E8%A6%BA%E9%86%92/id1484303602">App Store 哈利波特：魔法觉醒(台湾)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://artsandculture.google.com/project/harry-potter-a-history-of-magic">Google 哈利波特艺术</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://harrypotterfanclubnyc.com/">哈利波特粉丝俱乐部ncy</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://potterian.jimdofree.com/">哈利波特粉丝俱乐部加入教程</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://space.bilibili.com/360285629">网易大神 BiliBili</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://space.bilibili.com/471792754">趣测酱 BiliBili</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.jkrowling.com/">Home - J.K.Rowling</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://stories.jkrowling.com/">Home - J.K.Rowling Children</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://apps.apple.com/cn/app/id876336838?eventid=6442983503">喜马拉雅哈利·波特活动</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pages.ximalaya.com/mkt/act/3c311bc81e3e11b8">听见魔法的力量</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pages.ximalaya.com/mkt/act/9f1697d8d1bace1c">测测你的哈迷指数</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pages.ximalaya.com/mkt/act/6f253924ddbce4a3">哈利·波特魔法纪念卡</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pages.ximalaya.com/mkt/act/f2222529aa0827d2">哈利·波特魔法纪念册</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pages.ximalaya.com/mkt/act/73bcde22318ff7b3">制作专属《哈利·波特》手帐</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pages.ximalaya.com/mkt/act/a0053cd483091970">魔法小百科</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pages.ximalaya.com/mkt/act/641b1e3064c6b3d0">开启魔法回忆</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://m.ximalaya.com/quanzi/82279">哈利·波特官方圈子</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://pages.ximalaya.com/mkt/act/1d5573dec22fe807">魔法纪念卡 我的任务进度</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.ximalaya.com/gatekeeper/xmmc/schedule?scheduleId=118537">哈利·波特直播</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://harrypotter.fandom.com/wiki/Main_Page">哈利波特维基粉丝</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypotterfanzone.com/">哈利波特粉丝专区</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.britannica.com/topic/Harry-Potter">哈利波特大不列颠</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.hp-lexicon.org/character/potter-family/harry-potter/">哈利波特介绍</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.hbomax.com/harrypotter20">哈利波特HBO</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.bloomsbury.com/uk/harry-potter/">哈利波特书店</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://kids.scholastic.com/kids/books/harry-potter/">哈利波特儿童书店</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://www.plph-hp.com/">哈利波特中文书店</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.ameet.eu/category/lego-harry-potter-books/">哈利波特乐高书店</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.ameet.eu/harry-potter-popup/">哈利波特乐高立体书</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.myer.com.au/c/all-toys/featured-toys-brands/harry-potter-toys">哈利波特周边</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.lego.com/en-us/themes/harry-potter">乐高哈利波特</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.lego.com/en-us/kids/harry-potter">乐高哈利波特(kids)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.hallmark.com/harry-potter/">哈利波特礼物(苏格兰宝藏)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrods.com/en-gb/shopping/harry-potter">哈利波特礼物(Harrods)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://harrypottershop.com/">哈利波特商店(美)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://harrypottershop.co.uk">哈利波特商店(英)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottersacredtext.com/">哈利波特小说</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.amazon.com/-/zh/J.K.-Rowling/e/B000AP9A6K?ref_=dbs_p_pbk_r00_abau_000000">亚马逊哈利波特书店</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.amazon.com/Harry-Potter-Phoenix-Daniel-Radcliffe/dp/B0010SQYE2">亚马逊哈利波特电影</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.amazon.com/Harry-Potter-Complete-8-Film-Collection/dp/B005OCFGTO">亚马逊哈利波特DVD</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.imdb.com/list/ls072049366/">哈利波特电影</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.warnerbros.com/movies/harry-potter-complete-8-film-collection">哈利波特电影集</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.theguardian.com/film/harrypotter">哈利波特电影(守护者)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.rottentomatoes.com/franchise/harry_potter">哈利波特电影(烂番茄)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.wbstudiotour.co.uk/">哈利波特电影制作</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottertheplay.com/">哈利波特舞台剧</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://akauk.us11.list-manage.com/subscribe?u=3d3b3ad88a12076ce23e62203&id=a0f301c6c1">哈利波特舞台剧报名</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://magpi.raspberrypi.com/articles/harry-potter-daily-prophet">哈利波特报纸</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.hp-lexicon.org/">哈利波特词典</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://harrypotterspells.net/">哈利波特咒语</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://www.snitchseeker.com/">哈利波特新闻</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.standard.co.uk/topic/harry-potter">哈利波特新闻(Evening Standard)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://mashable.com/category/harry-potter">哈利波特新闻(Mshable)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.eonline.com/news/harry_potter">哈利波特新闻(Eonline)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.wbstudiotour.co.uk/">华纳兄弟伦敦工作室 哈利波特的制作</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.universalstudioshollywood.com/web/en/us/things-to-do/rides-and-attractions/the-wizarding-world-of-harry-potter">好莱坞环球影城 哈利波特的魔法世界</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.universalorlando.com/web/en/us/universal-orlando-resort/the-wizarding-world-of-harry-potter/hub">奥兰多环球影城 哈利波特的魔法世界</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.usj.co.jp/web/en/us/areas/the-wizarding-world-of-harry-potter">日本环球影城 哈利波特的魔法世界</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.universalbeijingresort.com/en/themelands/harrypotter">北京环球影城 哈利波特的魔法世界</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypotterinconcert.com/">哈利波特电影系列音乐会</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.coventgarden.london/experience/museums/harry-potter-photographic-exhibition/">哈利波特：摄影展览</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.fi.edu/exhibits/harry-potter">哈利波特：展览信息</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypotterexhibition.com/">哈利波特：展览</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://harry-potter.london-studio-tours.com/">哈利波特旅游</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypotteronlocation.co.uk//">哈利波特 华纳兄弟伦敦外景地</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypotterstore.com/">哈利波特 纽约</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://hpforbiddenforestexperience.com/">哈利波特 禁林体验</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.rom.on.ca/en/exhibitions-galleries/exhibitions/fantastic-beaststm-the-wonder-of-nature">神奇动物 大自然的奇迹</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://www.crown.com.tw/harrypotter/">哈利波特中文官网</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/search?q=Harry+Potter&c=apps&hl=zh-CN">play商店 哈利波特APP</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/search?q=Harry+Potter&c=movies&hl=zh-CN">play商店 哈利波特电影</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/search?q=Harry+Potter&c=books&hl=zh-CN">play商店 哈利波特书籍</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.netease.harrypotter.tw">play商店 哈利波特魔法觉醒</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.netease.harrypotter.tw">play商店 哈利波特魔法觉醒(全球)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.tinyco.potter">play商店 霍格沃茨之谜</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.wizarding.mystery.global">play商店 霍格沃茨之谜(全球)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.zynga.pottermatch">play商店 哈利波特谜与魔咒</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com/nianticlabs.hpwu.prod">play商店 哈利波特巫师联盟</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.kano.app">play商店 kano coding Harry potter</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://play.google.com/store/apps/details?id=com.ultim8quiz.HarryPotter">play商店 Harry potter Quzi</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://artsandculture.google.com/project/harry-potter-a-history-of-magic">Google 哈利波特艺术</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://qcj.qclia.com/index.php/wetest/index/qucequiz/gid/10952/src/152/round/1#/">趣测酱 进入哈利波特的世界你会变成谁</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://qcj.qclia.com/index.php/wetest/index/qucequiz/gid/10500/src/152/round/1#/">趣测酱 你是哈利波特中的谁</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://qcj.qclia.com/index.php/wetest/index/qucequiz/gid/8893/src/152/round/1#/">趣测酱 你在哈利波特中的身份档案</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://qcj.qclia.com/index.php/wetest/entry/index/id/10477/src/152/round/1#/">趣测酱 霍格沃茨通知通知书</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.proprofs.com/quiz-school/story.php?title=harry-potter-house-test_2">哈利波特分院测试(proprofs)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.arealme.com/harry-potter-house-sort/cn/">哈利波特分院测试(arealme)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.idrlabs.com/cn/hogwarts-house/test.php">哈利波特分院测试(idrlabs)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.buzzfeed.com/eleanorbate/accurate-af-sorting-quiz">哈利波特分院测试(buzzfeed)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.gotoquiz.com/pottermore_sorting_quiz_all_possible_question">哈利波特分院测试(goto quiz)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://psycatgames.com/quiz/pottermore/">哈利波特分院测试(PsyCat)</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://cdn.modiarts.com/2020/event/0513harrypotter/">哈利波特飞行扫帚测试</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://wizardmore.com/">哈利波特魔法测试</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.wizard-tool.com/">哈利波特魔法工具集</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://mofagongjuji.com/">哈利波特魔法工具集2</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.lofter.com/spread/html/activities/strongest-scholar/?njb_navigator=false">LOFTER哈学测试</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://tieba.baidu.com/f?kw=%E5%93%88%E5%88%A9%E6%B3%A2%E7%89%B9">哈利波特百度贴吧</a></div>
            <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.luvharry.org/">哈利波特猫爪论坛</a></div>
            <div class="shape2 col-xs-24 col-sm-24 col-md-12 col-lg-12"><a href="harrypro"> ∏ 神秘入口 ∏ </a></div>
        </div>
    </div>
</div>
<script src="./static/main/js/jquery-3.3.1.min.js"></script>
<script src="./static/main/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>