<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>About Magic Awakened</title>
        <link rel="stylesheet" href="./static/main/bootstrap-3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./static/main/css/common.css">
        <link rel="stylesheet" href="./static/main/css/main.css">
    </head>
    <body>
    <audio id="bgm" src="static/harry/audio/HPMAbgm.mp3" autoplay="autoplay" loop></audio>
    <div class="mask"></div>
    <div class="box">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header col-md-8 col-lg-8">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand pl" href="javascript:;">
                            <a href="/harry" class="goBack" style="color:white">
                                <img src="/static/main/images/back.png">
                                <span class="goBackIndex">返回哈迷专区</span>
                            </a>
                            <img class="hidden-md hidden-lg pull-left" height="60" src="./static/main/images/avatar.png"
                                 alt="">
                            <div class="pull-left  mynav_leftuser pl">
                                <!--<span></span>-->
                                <div class="mynav_user">
                                    <img class="hidden-sm hidden-xs vm" height="60" src="./static/main/images/avatar.png">
                                    <span class="welcomtitle">欢迎使用{{t_username}}的工具箱</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse mobiologinangregist" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>

                                    <a class="loginBtn" href="login">登录</a>/
                                    <a class="registBtn" href="register">注册</a>


                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <div class="mainContiner container-fluid">
            <div class="magicawakened">
                <div class="mainTitle col-xs-12">哈利波特：魔法觉醒</div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/">哈利波特：魔法觉醒</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/tw/">哈利波特：魔法觉醒 台湾</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/pz/">哈利波特：魔法觉醒 旧版本</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://cloudgame.ds.163.com/play?appKey=g92&pkgName=com.netease.harrypotter">哈利波特：魔法觉醒 在线畅玩</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://act.ds.163.com/e19ec56fb667e6fa/?appKey=g92&pkgName=com.netease.harrypotter&unite=1">哈利波特：魔法觉醒 在线畅玩 IOS</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://mumu.163.com/games/17708.html">哈利波特：魔法觉醒 MUMU模拟器</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.biligame.com/detail/?id=104296">哈利波特：魔法觉醒 BiliBili游戏</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://adl.netease.com/d/g/hp/c/gfsq">哈利波特：魔法觉醒 游戏下载</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://adl.netease.com/d/g/hp/c/gcgw">哈利波特：魔法觉醒 游戏下载2</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/m/acceptance_letter/">哈利波特：魔法觉醒 录取通知书</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/graffiti/">哈利波特：魔法觉醒 魔法绘卷</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/2021/sdhj/">哈利波特：魔法觉醒 魔法绘卷 冬日</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/tw/2022years/">哈利波特：魔法觉醒 追忆时光</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/zbk/">哈利波特：魔法觉醒 新年预言占卜</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/tw/zbx/">哈利波特魔法觉醒 新年预言占卜 台湾</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/2020/520/">哈利波特：魔法觉醒 520线上发布会</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/news/">哈利波特：魔法觉醒 新闻资讯</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/m/album/">哈利波特：魔法觉醒 设定集</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/magicwand/">哈利波特：魔法觉醒 巫师魔杖</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://harrypottermagicawakened.com/cn/competition/index.html">哈利波特：魔法觉醒 MA大师赛</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/m/yxjj/">哈利波特：魔法觉醒 迎新季节</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/m/2022/dance/pc.html">哈利波特：魔法觉醒 绽放舞会列表</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/m/2022/dance/pc.html?url=https%3A%2F%2Fwww.harrypottermagicawakened.com%2Fcn%2Fm%2F2022%2Fdance%2F%3Fshare_key%3Da5c69f1554d3460cb36ef5a2d98e3e9c">哈利波特：魔法觉醒 绽放舞会</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/m/xsfl/">哈利波特魔法觉醒 新生入学礼</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="wand">哈利波特：魔法觉醒 巫师魔杖图文</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="hphaibao">哈利波特：魔法觉醒 海报</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="hpup">哈利波特：魔法觉醒 up主推荐</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="http://weixin.qq.com/r/6C7bw2DEfz0ArSSg93v6">哈利波特：魔法觉醒 微信</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://weibo.com/u/6756101742">哈利波特：魔法觉醒 微博</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://weibo.com/p/1006067498486920/">哈利波特：魔法觉醒 赛事微博</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://magic.163.com/">哈利波特：魔法觉醒 巫师社区</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://hp.cbg.163.com/">哈利波特：魔法觉醒 藏宝阁</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://ds.163.com/square/5db948b9d545686817da6853/">哈利波特：魔法觉醒 网易大神</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://music.163.com/#/artist?id=49503747&userid=482914613&app_version=8.6.65">哈利波特：魔法觉醒 网易云音"</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.douyin.com/user/MS4wLjABAAAACK4SwOpi96x-jnCfm_tXQcIWUGclW4ukdzOsLp1rS6M">哈利波特：魔法觉醒 抖音</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://space.bilibili.com/398877923">哈利波特：魔法觉醒 BiliBili</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://cc.163.com/category/9109/">哈利波特：魔法觉醒 CC直播</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.huya.com/g/5835">哈利波特：魔法觉醒 虎牙直播</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.douyu.com/g_HarryPotter">哈利波特：魔法觉醒 斗鱼直播</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.kuaishou.com/profile/3xpy78d3gpyw5xa">哈利波特：魔法觉醒 快手</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://g.nga.cn/thread.php?fid=812">哈利波特：魔法觉醒 NGA玩家社区</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.gamersky.com/z_sy/hlbtmf/">哈利波特：魔法觉醒 游民星空</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.douban.com/group/magic/?type=elite">哈利波特：魔法觉醒 豆瓣小组</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.weibo.com/p/1008085e4724f4e5a15ff602f6f0a547331b68/super_index">哈利波特：魔法觉醒 微博超话</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://wiki.biligame.com/hlbt/%E9%A6%96%E9%A1%B5">哈利波特：魔法觉醒 BiliBili WIKI</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/global/">哈利波特：魔法觉醒(global)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.magicawakened.com/en">哈利波特：魔法觉醒 外国官网</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://gm.163.com/user_help.html?index=5&paper_id=4543">哈利波特：魔法觉醒 游戏客服中心</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://163.lu/dQOes2">哈利波特：魔法觉醒 游戏Bug&建议社群反馈链接</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://163.lu/IP8zn0">哈利波特：魔法觉醒 群管理工作建议&投诉中心</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://reurl.cc/e337bm">哈利波特魔法觉醒 电脑版下载</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.hpmapay.com/">哈利波特魔法觉醒 线上储值中心</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/cn/gift/">哈利波特魔法觉醒礼包兑换</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/tw/giftgrab/">哈利波特魔法觉醒礼包兑换 台湾</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://discord.gg/harrypottermazh">哈利波特魔法觉醒 Discord官方讨论群 台湾</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.youtube.com/channel/UCMx_GYDVpZMJF61ACW7IhsA">哈利波特魔法觉醒Youtube官方频道 台湾</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.youtube.com/channel/UCn4M2FRFieSxnG8GDenWGvA">哈利波特魔法觉醒Youtube 台湾</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.facebook.com/harrypotterMA.zh">哈利波特魔法觉醒 facebook 台湾</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.instagram.com/harrypotterfilm/">哈利波特魔法觉醒 Instagram 台湾</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/jp/">哈利波特魔法觉醒(Japan)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.harrypottermagicawakened.com/hr/">哈利波特魔法觉醒(Korea)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.youtube.com/channel/UCsCvDDoCIqWzWPWrZIQMxIQ">哈利波特魔法觉醒Youtube (欧美)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://twitter.com/HarryPotterMAEN">哈利波特魔法觉醒twiter (欧美)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.facebook.com/harrypotterMA.en">哈利波特魔法觉醒Facebook (欧美)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.youtube.com/channel/UCzZfDqrD81YgTFgI2BUw8Fg">哈利波特魔法觉醒 Youtube (日本)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://twitter.com/HarryPotterMAJP">哈利波特魔法觉醒 twiter (日本)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://cafe.naver.com/harrypottermakr">哈利波特魔法觉醒 cafe (韩国)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.youtube.com/channel/UC0BNvc_5H5FGQv7DJWGCxDA">哈利波特魔法觉醒 Youtube(韩国)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://twitter.com/HarryPotterMAKR">哈利波特魔法觉醒 twiter (韩国)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.facebook.com/HarryPotterMAKR/">哈利波特魔法觉醒 Facebook (韩国)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.instagram.com/harrypotterma_kr/">哈利波特魔法觉醒 Instagram (韩国)</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://ds.163.com/topic/%E5%93%88%E5%88%A9%E6%B3%A2%E7%89%B9%E6%94%BB%E7%95%A5%E5%A4%A7%E5%85%A8">哈利波特：魔法觉醒 攻略大全</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://ds.163.com/topic/%E9%AD%94%E6%B3%95%E8%A7%89%E9%86%92%E9%A2%81%E5%A5%96">哈利波特：魔法觉醒 魔法觉醒颁奖</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://act.ds.163.com/458f5de95d2ca4ac/game/g92czqy">哈利波特：魔法觉醒 网易官方支付平台</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://gamepay.163.com/magicawakened">哈利波特：魔法觉醒 网易游戏充值中心</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://act.ds.163.com/2bfd19aefeba0453/">哈利波特：魔法觉醒 战绩查询</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://act.ds.163.com/85c590fcef46eb04/600e74f4ed7dde59cad4c835">霍格沃茨校友匹配器</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://act.ds.163.com/85c590fcef46eb04/626155cd8cb1e5304fc1aebb">魔法觉醒集市</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://youxi.16163.com/671c78fb2826081d/groups.html">哈利波特：魔法觉醒 卡组广场</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://youxi.16163.com/671c78fb2826081d/index.html">哈利波特：魔法觉醒 魔法图集</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://www.163hot.net/hptk/#/">哈利波特：魔法觉醒 魔法史答题器</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://ds.163.com/user/29c10cd0344f462e82e16a516001f0dd">哈利波特：魔法觉醒 官方动态</a></div>
                <div class="shape1 col-xs-6 col-sm-6 col-md-4 col-lg-4"><a href="https://cc.163.com/ds/9109/">哈利波特魔法觉醒 大神CC直播</a></div>
            </div>
        </div>
    </div>
    <script src="./static/main/js/jquery-3.3.1.min.js"></script>
    <script src="./static/main/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>