<!DOCTYPE html>
<html>
	<body>
		<div class="wand-list j-scorll" id="wand-list">
			<div class="item" data-key="baihuamu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/baihuamu_9c62de6.png" alt="白桦木">
			    </div>
			    <p>白桦木魔杖</p>
			</div><div class="item" data-key="baimu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/baimu_51864e6.png" alt="柏木">
			    </div>
			    <p>柏木魔杖</p>
			</div><div class="item" data-key="dongqingmu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/dongqingmu_06b1385.png" alt="冬青木">
			    </div>
			    <p>冬青木魔杖</p>
			</div><div class="item" data-key="hutaomu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/hutaomu_30d35ca.png" alt="胡桃木">
			    </div>
			    <p>胡桃木魔杖</p>
			</div><div class="item" data-key="huangcenmu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/huangcenmu_62f20cf.png" alt="黄岑木">
			    </div>
			    <p>黄岑木魔杖</p>
			</div><div class="item" data-key="lengshanmu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/lengshanmu_a1fb722.png" alt="冷杉木">
			    </div>
			    <p>冷杉木魔杖</p>
			</div><div class="item" data-key="liumu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/liumu_20ba334.png" alt="柳木">
			    </div>
			    <p>柳木魔杖</p>
			</div><div class="item" data-key="putaotengmu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/putaotengmu_96417ef.png" alt="葡萄藤木">
			    </div>
			    <p>葡萄藤木魔杖</p>
			</div><div class="item" data-key="qiangweimu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/qiangweimu_e551be4.png" alt="蔷薇木">
			    </div>
			    <p>蔷薇木魔杖</p>
			</div><div class="item" data-key="shanzhamu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/shanzhamu_c98d410.png" alt="山楂木">
			    </div>
			    <p>山楂木魔杖</p>
			</div><div class="item" data-key="taohuaxinmu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/taohuaxinmu_dcd99b7.png" alt="桃花芯木">
			    </div>
			    <p>桃花芯木魔杖</p>
			</div><div class="item" data-key="xiangmu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/xiangmu_bd88322.png" alt="橡木">
			    </div>
			    <p>橡木魔杖</p>
			</div><div class="item" data-key="yingtaomu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/yingtaomu_52c75e5.png" alt="樱桃木">
			    </div>
			    <p>樱桃木魔杖</p>
			</div><div class="item curr" data-key="yumu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/yumu_2b0aa4e.png" alt="榆木">
			    </div>
			    <p>榆木魔杖</p>
			</div><div class="item" data-key="zishanmu">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/zishanmu_d3c9b22.png" alt="紫衫木">
			    </div>
			    <p>紫衫木魔杖</p>
			</div><div class="item" data-key="siwangyinying">
			    <div class="img-box">
			        <img src="https://www.harrypottermagicawakened.com/m/zt/20210528145837/img/small/siwangyinying_cae0a37.png" alt="不凡指引者 · 接骨木">
			    </div>
			    <p>不凡指引者 · 接骨木魔杖</p>
			</div>
		</div>
	</body>
</html>