<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>猿来刚刚好</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="a90d8c4b38874be6942c52ac20d36717" class="chart-container" style="width:1600px; height:700px;"></div>
    <script>
        var chart_a90d8c4b38874be6942c52ac20d36717 = echarts.init(
            document.getElementById('a90d8c4b38874be6942c52ac20d36717'), 'white', {renderer: 'canvas'});
        var option_a90d8c4b38874be6942c52ac20d36717 = {
    "backgroundColor": "LightCyan",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": " ",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                120,
                118,
                57,
                43,
                24,
                23,
                17,
                17,
                15,
                15
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "line",
            "name": "\u6392\u540d",
            "connectNulls": false,
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u516d\u5929\u524d",
                    1
                ],
                [
                    "\u4e94\u5929\u524d",
                    3
                ],
                [
                    "\u56db\u5929\u524d",
                    2
                ],
                [
                    "\u4e09\u5929\u524d",
                    3
                ],
                [
                    "\u4e24\u5929\u524d",
                    2
                ],
                [
                    "\u4e00\u5929\u524d",
                    1
                ],
                [
                    "\u4eca\u5929",
                    1
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "wordCloud",
            "shape": "pentagon",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                10,
                60
            ],
            "data": [
                {
                    "name": "\u733f",
                    "value": 120,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,56,24)"
                        }
                    }
                },
                {
                    "name": "\u8f85\u5bfc",
                    "value": 118,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,79,130)"
                        }
                    }
                },
                {
                    "name": "\u8001\u5e08",
                    "value": 57,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,1,35)"
                        }
                    }
                },
                {
                    "name": "\u52a0\u6cb9",
                    "value": 43,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,21,64)"
                        }
                    }
                },
                {
                    "name": "\u7231",
                    "value": 24,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,130,48)"
                        }
                    }
                },
                {
                    "name": "\u6211\u4eec",
                    "value": 23,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,124,103)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 17,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,62,62)"
                        }
                    }
                },
                {
                    "name": "\u521a\u521a",
                    "value": 17,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,9,147)"
                        }
                    }
                },
                {
                    "name": "\u9996\u6b4c",
                    "value": 15,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,136,11)"
                        }
                    }
                },
                {
                    "name": "\u56e0\u4e3a",
                    "value": 15,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(66,103,72)"
                        }
                    }
                },
                {
                    "name": "\u5c0f\u733f",
                    "value": 15,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,23,29)"
                        }
                    }
                },
                {
                    "name": "\u597d\u542c",
                    "value": 15,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,146,25)"
                        }
                    }
                },
                {
                    "name": "\u771f\u7684",
                    "value": 14,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(82,109,39)"
                        }
                    }
                },
                {
                    "name": "\u559c\u6b22",
                    "value": 14,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,7,10)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u8bfe",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,28,35)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u8d77",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,114,96)"
                        }
                    }
                },
                {
                    "name": "\u8c22\u8c22",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,85,78)"
                        }
                    }
                },
                {
                    "name": "\u542c",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,58,130)"
                        }
                    }
                },
                {
                    "name": "\u793c\u76d2",
                    "value": 12,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,125,58)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u5207",
                    "value": 12,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,49,111)"
                        }
                    }
                },
                {
                    "name": "\u8bfe",
                    "value": 12,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,105,18)"
                        }
                    }
                },
                {
                    "name": "2020",
                    "value": 12,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,154,137)"
                        }
                    }
                },
                {
                    "name": "\u73ed",
                    "value": 11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,58,146)"
                        }
                    }
                },
                {
                    "name": "A",
                    "value": 11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,110,56)"
                        }
                    }
                },
                {
                    "name": "\u611f\u8c22",
                    "value": 11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,141,142)"
                        }
                    }
                },
                {
                    "name": "666",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,124,88)"
                        }
                    }
                },
                {
                    "name": "\u97f3\u4e50",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,47,130)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u751f",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,72,6)"
                        }
                    }
                },
                {
                    "name": "\u77e5\u9053",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,31,73)"
                        }
                    }
                },
                {
                    "name": "\u60f3",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,133,157)"
                        }
                    }
                },
                {
                    "name": "\u0e07",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,2,14)"
                        }
                    }
                },
                {
                    "name": "\u2022",
                    "value": 10,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,40,95)"
                        }
                    }
                },
                {
                    "name": "\u540c\u5b66",
                    "value": 9,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,95,29)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u662f",
                    "value": 9,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(41,54,125)"
                        }
                    }
                },
                {
                    "name": "\u4f60\u4eec",
                    "value": 9,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,76,78)"
                        }
                    }
                },
                {
                    "name": "\u54c8\u54c8\u54c8",
                    "value": 9,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,152,21)"
                        }
                    }
                },
                {
                    "name": "\u6559\u80b2",
                    "value": 8,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,120,76)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u91cc",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,8,49)"
                        }
                    }
                },
                {
                    "name": "\u8fd8\u6709",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,4,20)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e2a",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,160,120)"
                        }
                    }
                },
                {
                    "name": "\u6b4c\u624b",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,55,79)"
                        }
                    }
                },
                {
                    "name": "\u516c\u53f8",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(50,47,39)"
                        }
                    }
                },
                {
                    "name": "\u7ed3\u675f",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,83,87)"
                        }
                    }
                },
                {
                    "name": "\u5b66\u4e60",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,49,5)"
                        }
                    }
                },
                {
                    "name": "\u554a\u554a\u554a",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,89,130)"
                        }
                    }
                },
                {
                    "name": "\u7089\u6e23",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,144,74)"
                        }
                    }
                },
                {
                    "name": "\u8fd9\u4e48",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,8,90)"
                        }
                    }
                },
                {
                    "name": "\u5531",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,110,44)"
                        }
                    }
                },
                {
                    "name": "_",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,116,138)"
                        }
                    }
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,156,142)"
                        }
                    }
                }
            ],
            "left": "760px",
            "top": "0px",
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            },
            "xAxisIndex": 3,
            "yAxisIndex": 3
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "0-9",
                    "value": 45
                },
                {
                    "name": "10-19",
                    "value": 59
                },
                {
                    "name": "20-29",
                    "value": 40
                },
                {
                    "name": "30-39",
                    "value": 43
                },
                {
                    "name": "40-49",
                    "value": 46
                },
                {
                    "name": "50-59",
                    "value": 42
                },
                {
                    "name": "60-69",
                    "value": 55
                },
                {
                    "name": "70-79",
                    "value": 52
                },
                {
                    "name": "80-89",
                    "value": 60
                },
                {
                    "name": "90-99",
                    "value": 48
                }
            ],
            "radius": [
                "10%",
                "30%"
            ],
            "center": [
                "18%",
                "35%"
            ],
            "roseType": "radius",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "xAxisIndex": 4,
            "yAxisIndex": 4
        },
        {
            "type": "scatter",
            "name": "geo",
            "coordinateSystem": "geo",
            "symbolSize": 12,
            "data": [
                {
                    "name": "\u53f0\u6e7e",
                    "value": [
                        121.509062,
                        25.044332,
                        35
                    ]
                },
                {
                    "name": "\u5317\u4eac",
                    "value": [
                        116.407526,
                        39.90403,
                        23
                    ]
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": [
                        117.284922,
                        31.861184,
                        20
                    ]
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": [
                        118.763232,
                        32.061707,
                        19
                    ]
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": [
                        106.551556,
                        29.563009,
                        18
                    ]
                },
                {
                    "name": "\u5929\u6d25",
                    "value": [
                        117.200983,
                        39.084158,
                        17
                    ]
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": [
                        121.473701,
                        31.230416,
                        16
                    ]
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": [
                        123.42944,
                        41.835441,
                        16
                    ]
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": [
                        104.075931,
                        30.651651,
                        16
                    ]
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": [
                        111.765617,
                        40.817498,
                        16
                    ]
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": [
                        106.70741,
                        26.598194,
                        15
                    ]
                },
                {
                    "name": "\u5c71\u897f",
                    "value": [
                        112.562398,
                        37.873531,
                        15
                    ]
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": [
                        108.327546,
                        22.815478,
                        15
                    ]
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": [
                        120.152791,
                        30.267446,
                        15
                    ]
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": [
                        117.020359,
                        36.66853,
                        14
                    ]
                },
                {
                    "name": "\u6fb3\u95e8",
                    "value": [
                        113.54909,
                        22.198951,
                        14
                    ]
                },
                {
                    "name": "\u4e91\u5357",
                    "value": [
                        102.710002,
                        25.045806,
                        14
                    ]
                },
                {
                    "name": "\u6e56\u5357",
                    "value": [
                        112.98381,
                        28.112444,
                        14
                    ]
                },
                {
                    "name": "\u9752\u6d77",
                    "value": [
                        101.780199,
                        36.620901,
                        14
                    ]
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": [
                        113.26653,
                        23.132191,
                        14
                    ]
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": [
                        114.468664,
                        38.037057,
                        14
                    ]
                },
                {
                    "name": "\u7518\u8083",
                    "value": [
                        103.826308,
                        36.059421,
                        12
                    ]
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": [
                        115.909228,
                        28.675696,
                        12
                    ]
                },
                {
                    "name": "\u9655\u897f",
                    "value": [
                        108.954239,
                        34.265472,
                        12
                    ]
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": [
                        126.661669,
                        45.742347,
                        11
                    ]
                },
                {
                    "name": "\u798f\u5efa",
                    "value": [
                        119.295144,
                        26.100779,
                        11
                    ]
                },
                {
                    "name": "\u6e56\u5317",
                    "value": [
                        114.341861,
                        30.546498,
                        10
                    ]
                },
                {
                    "name": "\u5409\u6797",
                    "value": [
                        125.32599,
                        43.896536,
                        10
                    ]
                },
                {
                    "name": "\u6d77\u5357",
                    "value": [
                        110.349228,
                        20.017377,
                        10
                    ]
                },
                {
                    "name": "\u9999\u6e2f",
                    "value": [
                        114.173355,
                        22.320048,
                        10
                    ]
                },
                {
                    "name": "\u897f\u85cf",
                    "value": [
                        91.117212,
                        29.646922,
                        10
                    ]
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": [
                        113.753602,
                        34.765515,
                        10
                    ]
                },
                {
                    "name": "\u65b0\u7586",
                    "value": [
                        87.627704,
                        43.793026,
                        9
                    ]
                },
                {
                    "name": "\u5b81\u590f",
                    "value": [
                        106.258754,
                        38.471317,
                        9
                    ]
                }
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "xAxisIndex": 5,
            "yAxisIndex": 5
        }
    ],
    "legend": [
        {
            "data": [
                " "
            ],
            "selected": {
                " ": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "\u6392\u540d"
            ],
            "selected": {
                "\u6392\u540d": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "0-9",
                "10-19",
                "20-29",
                "30-39",
                "40-49",
                "50-59",
                "60-69",
                "70-79",
                "80-89",
                "90-99"
            ],
            "selected": {},
            "show": true,
            "left": "5%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "geo"
            ],
            "selected": {
                "geo": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u733f",
                "\u8f85\u5bfc",
                "\u8001\u5e08",
                "\u52a0\u6cb9",
                "\u7231",
                "\u6211\u4eec",
                "\u4e00\u4e2a",
                "\u521a\u521a",
                "\u9996\u6b4c",
                "\u56e0\u4e3a"
            ]
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u516d\u5929\u524d",
                "\u4e94\u5929\u524d",
                "\u56db\u5929\u524d",
                "\u4e09\u5929\u524d",
                "\u4e24\u5929\u524d",
                "\u4e00\u5929\u524d",
                "\u4eca\u5929"
            ]
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 2,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1,
            "gridIndex": 1,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 4,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 2,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e50\u8bc4\u9ad8\u9891\u8bcd",
            "left": "1280px",
            "top": "480px",
            "padding": 5,
            "itemGap": 10
        },
        {
            "text": "\u6392\u540d\u4e00\u5468\u53d8\u5316",
            "left": "220px",
            "top": "480px",
            "padding": 5,
            "itemGap": 10
        },
        {
            "text": "\u300a\u733f\u6765\u521a\u521a\u597d\u300b",
            "left": "center",
            "top": "5%",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 48
            }
        },
        {
            "text": "\u8bc4\u4ef7\u8bcd\u4e91\u56fe",
            "left": "1250px",
            "top": "100px",
            "padding": 5,
            "itemGap": 10
        },
        {
            "text": "\u5e74\u9f84\u5206\u5e03\u73ab\u7470\u82b1\u56fe",
            "left": "200px",
            "top": "100px",
            "padding": 5,
            "itemGap": 10
        },
        {
            "text": "\u5730\u7406\u5206\u5e03\u56fe",
            "left": "center",
            "top": "210px",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "left": "75%",
            "top": "75%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        },
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "top": "75%",
            "right": "75%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        },
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "top": "75%",
            "right": "75%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        },
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        },
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        },
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ],
    "geo": {
        "map": "china",
        "zoom": 0.8,
        "roam": true,
        "aspectScale": 0.75,
        "nameProperty": "name",
        "selectedMode": false,
        "emphasis": {}
    }
};
        chart_a90d8c4b38874be6942c52ac20d36717.setOption(option_a90d8c4b38874be6942c52ac20d36717);
    </script>
</body>
</html>
