
<!DOCTYPE html>
<html>
    <head>
        <meta name="renderer" content="webkit">
        <meta charset="utf-8">
        <title>404 - 猿编程</title>
        <link href="https://yfd1.fbcontent.cn/s/errorPage-cb4d6c8a8a.css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="img-holder">
                <img src="https://yfd1.fbcontent.cn/s/404-23edb93d48.png">
            </div>
            <div class="panel">
                <div class="text">
                    <em>404</em>
                    <p>页面没有找到</p>
                </div>
            </div>
        </div>
    </body>
</html>